:root {
  --slidev-theme-primary: #0f71f2;
}

.slidev-layout.cover,
.slidev-layout.intro {
  @apply h-full grid;

  h1 {
    @apply text-6xl leading-20;
  }

  h1 + p {
    @apply -mt-2 mb-4;
  }

  p + h2,
  ul + h2,
  table + h2 {
    @apply mt-10;
  }
}

.slidev-layout {
  @apply bg-slide-background text-slide-text text-md;

  --slidev-code-font-size: 18px;
  --slidev-code-line-height: 1.2;

  h1 {
    @apply text-slide-primary text-5xl;
  }

  :is(p, li, blockquote, th, td, h1, h2, h3, h4, h5, h6) {
    line-height: inherit;
  }
}

.slidev-layout.default {
  padding-top: 24px;
}

.slidev-layout strong {
  @apply text-slide-primary;
}

.slidev-layout a {
  @apply border-slide-primary;
}
